$color-pruple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-light-grey: #f7f7f7;
$color-dark-grey: #ededed;
$color-dark: #353535;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");

.margin-body {
	margin: 0px;
	animation: back 1s linear 3;

	@keyframes back {
		0% {
			opacity: 0.5;
		}

		100% {
			opacity: 0.5;
		}
	}
}

.load-spinner {
	border: 10px solid $color-light-grey;
	border-top: 10px solid $color-pink;
	border-bottom: 10px solid $color-green;
	border-left: 10px solid $color-pruple;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	animation: spin 1s linear 3;
	animation-timing-function: ease;
	opacity: 0;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
			opacity: 0;
		}

		50% {
			opacity: 0.5;
		}

		99% {
			transform: rotate(360deg);
		}

		100% {
			opacity: 1;
		}
	}
}

.logo {
	margin-top: 20px;
	margin-bottom: 2px;
	padding-bottom: 15px;
	padding-top: 22px;
	margin-top: 0px;
	box-shadow: 0px 2px 4px lightgrey;

	.main-logo {
		width: 60%;
		display: block;
		margin: auto;
	}
}

.location {
	display: block;
	text-align: center;
	background-color: $color-dark-grey;
	font-family: "Roboto", sans-serif;

	.fa-map-marker-alt {
		padding: 18px;
	}
}

.presentation {
	display: block;
	text-align: center;
	margin-bottom: 35px;
	background-color: $color-light-grey;
	padding: 26px 35px 50px;

	&-btn {
		padding: 19px;
		font-size: 17px;
		border-radius: 28px;
		border: none;
		background: linear-gradient($color-pink, $color-pruple);
		color: white;
		box-shadow: 2px 2px 8px lightgrey;
		&:hover {
			opacity: 0.8;
			box-shadow: 2px 2px 8px grey;
		}
	}

	&-title {
		font-family: "Roboto", sans-serif;
		font-size: 29px;
	}

	.presentation-title2 {
		font-size: 18px;
		font-family: "Roboto2", sans-serif;
		color: grey;
	}
}

.navigateur {
	max-width: 1024px;
	margin: auto;
}

.second-title {
	margin-bottom: 30px;
	margin-left: 15px;
	font-family: "Roboto", sans-serif;
}

.navi {
	display: block;
	text-align: center;

	&-form {
		background-color: $color-light-grey;
		margin-bottom: 14px;
		padding: 17px;
		border-radius: 15px;
		box-shadow: 2px 2px 8px lightgrey;
		font-family: "Roboto", sans-serif;
		list-style: none;
		margin-right: 16px;
		&:hover {
			opacity: 0.7;
			box-shadow: 2px 2px 8px grey;
		}

		&_number {
			position: absolute;
			left: 8%;
			background-color: $color-pruple;
			color: white;
			border-radius: 50%;
			height: 16px;
			width: 16px;
			font-size: 13px;
		}

		.fa-mobile-alt {
			margin-left: -10%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}

		.fa-list-ul {
			margin-left: -10%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}

		.fa-store {
			margin-left: -10%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}
	}
}

.restaurant {
	background-color: $color-dark-grey;
	margin-top: 65px;
	padding-bottom: 29px;

	.restaurant-title {
		padding-top: 50px;
		margin-bottom: 30px;
		margin-left: 15px;
		font-family: "Roboto", sans-serif;
	}

	&-block {
		background-color: white;
		margin-bottom: 40px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: 2px 2px 8px lightgrey;
		width: 91%;
		margin-left: 17px;
		padding-bottom: 15px;
		&:hover {
			box-shadow: 2px 2px 8px grey;
		}

		&_link {
			color: black;
			text-decoration: none;
		}

		&_news {
			position: absolute;
			right: 9%;
			margin-top: 13px;
			background-color: $color-green;
			padding: 5px;
			border-radius: 2px;
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			color: #249c7f;
		}

		&_main {
			margin-left: 20px;
			display: flex;
			justify-content: space-between;
			font-family: "Roboto", sans-serif;
			margin-bottom: 0px;

			.fas.fa-heart.heart1 {
				font-size: 29px;
				display: block;
				background: -webkit-linear-gradient($color-pink, $color-pruple);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				position: absolute;
				right: 10%;
				opacity: 0;
				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.far.fa-heart.heart1 {
				font-size: 29px;
				position: absolute;
				right: 10%;
			}

			.fas.fa-heart.heart2 {
				font-size: 29px;
				display: block;
				background: -webkit-linear-gradient($color-pink, $color-pruple);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0;
				position: absolute;
				right: 10%;
				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.far.fa-heart.heart2 {
				font-size: 29px;
				position: absolute;
				right: 10%;
			}

			.fas.fa-heart.heart3 {
				font-size: 29px;
				display: block;
				background: -webkit-linear-gradient($color-pink, $color-pruple);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0;
				position: absolute;
				right: 10%;
				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.far.fa-heart.heart3 {
				font-size: 29px;
				position: absolute;
				right: 10%;
			}

			.fas.fa-heart.heart4 {
				font-size: 29px;
				display: block;
				background: -webkit-linear-gradient($color-pink, $color-pruple);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				opacity: 0;
				position: absolute;
				right: 10%;
				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.far.fa-heart.heart4 {
				font-size: 29px;
				position: absolute;
				right: 10%;
			}
		}

		&_title {
			margin-left: 20px;
			font-family: "Roboto2", sans-serif;
		}

		.restaurant-pictures {
			width: 100%;
			height: 170px;
			margin: auto;
			object-fit: cover;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
	}
}
.footer {
	background-color: $color-dark;
	color: white;
	padding-top: 31px;
	padding-bottom: 48px;

	&-list {
		list-style: none;

		&_style {
			margin-bottom: 10px;
			font-family: "Roboto", sans-serif;

			.fa-utensils {
				margin-right: 17px;
			}

			.fa-hands-helping {
				margin-right: 9px;
			}

			.footer-list_contact {
				color: white;
				text-decoration: none;
			}
		}
	}

	.footer-logo {
		width: 30%;
		margin-left: 20px;
		filter: invert(1);
	}
}

@media screen and (min-width: 768px) {
	.restaurant-allblock {
		display: flex;
		flex-wrap: wrap;

		.restaurant-block {
			width: 47%;

			&_news {
				margin-left: 36%;
				right: auto;
			}
		}
	}

	.restaurant-block_main {
		.fas.fa-heart.heart1 {
			position: absolute;
			right: 54%;
		}

		.far.fa-heart.heart1 {
			position: absolute;
			right: 54%;
		}

		.fas.fa-heart.heart2 {
			position: absolute;
			right: 5%;
		}

		.far.fa-heart.heart2 {
			position: absolute;
			right: 5%;
		}

		.fas.fa-heart.heart3 {
			position: absolute;
			right: 54%;
		}

		.far.fa-heart.heart3 {
			position: absolute;
			right: 54%;
		}

		.fas.fa-heart.heart4 {
			position: absolute;
			right: 5%;
		}

		.far.fa-heart.heart4 {
			position: absolute;
			right: 5%;
		}
	}
}

@media screen and (min-width: 1024px) {
	.logo {
		.main-logo {
			width: 20%;
			margin-left: 20px;
		}
	}

	.navi-list {
		display: flex;
		justify-content: space-around;
	}

	.navi {
		.navi-form {
			width: 100%;
			margin-right: 47px;
		}
		.navi-form_number {
			font-size: 18px;
			left: auto;
			margin-left: -62px;
			height: 23px;
			width: 23px;
		}
	}

	.restaurant {
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;

		.restaurant-title {
			margin-left: 33px;
		}

		.restaurant-allblock {
			display: flex;
			justify-content: center;
			margin-right: 15px;

			.restaurant-block {
				margin-left: 21px;
			}
		}
	}

	.footer {
		.footer-logo {
			width: 20%;
		}
	}

	.restaurant-block_main {
		.fas.fa-heart.heart1 {
			position: absolute;
			right: 53%;
		}

		.far.fa-heart.heart1 {
			position: absolute;
			right: 53%;
		}

		.fas.fa-heart.heart2 {
			position: absolute;
			right: 4%;
		}

		.far.fa-heart.heart2 {
			position: absolute;
			right: 4%;
		}

		.fas.fa-heart.heart3 {
			position: absolute;
			right: 53%;
		}

		.far.fa-heart.heart3 {
			position: absolute;
			right: 53%;
		}

		.fas.fa-heart.heart4 {
			position: absolute;
			right: 4%;
		}

		.far.fa-heart.heart4 {
			position: absolute;
			right: 4%;
		}
	}
}
