$color-pruple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-light-grey: #f7f7f7;
$color-dark-grey: #ededed;
$color-dark: #353535;

@font-face {
	font-family: "Shrikhand";
	src: url("../Police/Shrikhand-Regular.otf");
}

@font-face {
	font-family: "Roboto";
	src: url("../Police/Roboto-Bold.ttf");
}

.logo {
	margin-top: 20px;
	margin-bottom: 2px;
	padding-bottom: 15px;
	box-shadow: 0px 2px 4px grey;
}

.main-logo {
	width: 60%;
	display: block;
	margin: auto;
}

.location {
	display: block;
	text-align: center;
	background-color: $color-dark-grey;

	.fa-map-marker-alt {
		padding: 18px;
	}
}

.presentation {
	display: block;
	text-align: center;
	margin-bottom: 35px;
	background-color: $color-light-grey;
	padding: 26px 35px 50px;

	.presentation-btn {
		padding: 19px;
		font-size: 17px;
		border-radius: 28px;
		border: none;
		background: linear-gradient($color-pink, $color-pruple);
		color: white;
	}
}

.h1 {
	font-size: 29px;
}

.h2 {
	font-size: 10px;
}

.nav {
	display: block;
	text-align: center;
}

.nav-form {
	background-color: $color-light-grey;
	margin-bottom: 14px;
}

.restaurant {
	background-color: $color-dark-grey;
}

.restaurant-pictures {
	width: 100%;
	margin: auto;
	object-fit: cover;
}
.footer {
	background-color: $color-dark;
	color: white;
}
.footer-logo {
	width: 30%;
}
