/* No CSS *//*# sourceMappingURL=styles.css.map */
.logo{
    margin-bottom: 25px;
}

.main-logo{
    width: 60%;
    display: block;
    margin: auto;
}

.location{
    display: block;
    text-align: center;
    background-color: #ededed;
}

.presentation{
  display: block;
  text-align: center;
  margin-bottom: 35px;
  background-color:#f7f7f7;
}


.nav{
    display: block;
    text-align: center;
}

.nav-form{
    background-color: #f7f7f7;
    margin-bottom: 14px;
}

.restaurant{
    background-color: #ededed;
}

.restaurant-pictures{
    width: 100%;
    margin: auto;
    object-fit: cover;
}
.footer{
    background-color: #101010;
}
.footer-logo{
    width: 30%;
}