$color-pruple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-light-grey: #f7f7f7;
$color-dark-grey: #ededed;
$color-dark: #353535;

@font-face {
	font-family: "Shrikhand";
	src: url("../Police/Shrikhand-Regular.otf");
}

@font-face {
	font-family: "Roboto";
	src: url("/Users/muzzammilpeerboccus/Documents/ProjetOpenClassrooms/Projet_3_Ohmyfood!/Police/Roboto-Bold.ttf");
}

.logo {
	margin-top: 20px;
	margin-bottom: 2px;
	padding-bottom: 15px;
	box-shadow: 0px 2px 4px grey;

	.main-logo {
		width: 60%;
		display: block;
		margin: auto;
	}
}

.location {
	display: block;
	text-align: center;
	background-color: $color-dark-grey;

	.fa-map-marker-alt {
		padding: 18px;
	}
}

.presentation {
	display: block;
	text-align: center;
	margin-bottom: 35px;
	background-color: $color-light-grey;
	padding: 26px 35px 50px;

	.presentation-btn {
		padding: 19px;
		font-size: 17px;
		border-radius: 28px;
		border: none;
		background: linear-gradient($color-pink, $color-pruple);
		color: white;
	}

	.h1 {
		font-size: 29px;
	}

	.h2 {
		font-size: 10px;
	}
}

.second-title {
	margin-bottom: 30px;
	margin-left: 15px;
}

.navi {
	display: block;
	text-align: center;

	.navi-form {
		background-color: $color-light-grey;
		margin-bottom: 14px;
		padding: 17px;
		border-radius: 15px;
		box-shadow: 2px 2px 8px lightgrey;

		.fa-mobile-alt {
			margin-left: -20%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}

		.fa-list-ul {
			margin-left: -20%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}

		.fa-store {
			margin-left: -20%;
			margin-right: 10%;
			font-size: 21px;
			color: grey;
		}
	}
}

.restaurant {
	background-color: $color-dark-grey;
	margin-top: 65px;

	.restaurant-title {
		padding-top: 50px;
		margin-bottom: 30px;
		margin-left: 15px;
	}

	&-block {
		background-color: white;
		margin-bottom: 40px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: 2px 2px 8px lightgrey;
		width: 93%;
		margin-left: 15px;

		&_main {
			margin-left: 20px;
		}

		&_title {
			margin-left: 20px;
		}

		.restaurant-pictures {
			width: 100%;
			margin: auto;
			object-fit: cover;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		.restaurant-pictures_height {
			height: 254px;
		}
	}
}
.footer {
	background-color: $color-dark;
	color: white;

	.footer-logo {
		width: 30%;
	}
}
