@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.margin-body {
  margin: 0px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 2px;
  padding-bottom: 15px;
  padding-top: 22px;
  margin-top: 0px;
}

.logo .fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 4%;
  top: 1%;
  color: black;
}

.logo .main-logo {
  width: 52%;
  display: block;
  margin: auto;
}

.menu-photo {
  max-width: 1024px;
  margin: auto;
}

.only-picture {
  width: 100%;
  height: 280px;
}

.menu {
  background-color: #f7f7f7;
  padding-top: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: -59px;
  margin-bottom: -60px;
  max-width: 1024px;
}

.menu-title {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  margin-left: 22px;
  margin-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-title .far.fa-heart {
  font-size: 24px;
  position: absolute;
  right: 8%;
}

.menu-title .far.fa-heart:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-title .fas.fa-heart {
  font-size: 24px;
  position: absolute;
  right: 8%;
  display: block;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.menu-title .fas.fa-heart:hover {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-section {
  font-family: "Roboto2", sans-serif;
  margin-left: 22px;
  font-size: 17px;
  border-bottom-style: solid;
  width: 12%;
  border-bottom-color: #99e2d0;
  padding-bottom: 4px;
}

.menu .checkbox {
  position: absolute;
  width: 33px;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  top: 0%;
  padding: 0 13px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.menu .checkbox .fa-check-circle {
  color: white;
  font-size: 30px;
}

.menu .menu-anim1 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1;
  }
}

.menu .menu-anim2 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1;
  }
}

.menu .menu-anim3 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1;
  }
}

.menu .menu-anim4 {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 1;
  }
}

.menu-block {
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 30px lightgrey;
          box-shadow: 2px 2px 30px lightgrey;
  margin-left: 15px;
  margin-right: 15px;
}

.menu-block:hover {
  opacity: 0.7;
  -webkit-box-shadow: 2px 2px 8px grey;
          box-shadow: 2px 2px 8px grey;
}

.menu-block:hover .checkbox {
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.menu-block:hover .fa-check-circle {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.menu-block:hover .title-bold {
  -webkit-animation: slide-title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-title {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

@keyframes slide-title {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

.menu-block_title {
  font-size: 18px;
  padding-top: 13px;
  margin-left: 12px;
  font-family: "Roboto", sans-serif;
}

.menu-block_title2 {
  margin-left: 12px;
  margin-right: 25px;
  font-size: 15px;
  padding-bottom: 14px;
  font-family: "Roboto2", sans-serif;
  margin-top: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-block_title2 .title-bold {
  font-family: "Roboto", sans-serif;
}

.btn {
  padding: 14px;
  font-size: 16px;
  border-radius: 28px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  width: 44%;
  margin-top: 28px;
  margin-left: 28%;
  margin-bottom: 20%;
  -webkit-box-shadow: 2px 2px 30px lightgrey;
          box-shadow: 2px 2px 30px lightgrey;
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 2px 2px 8px grey;
          box-shadow: 2px 2px 8px grey;
}

.footer {
  background-color: #353535;
  color: white;
  padding-top: 31px;
  padding-bottom: 48px;
}

.footer-list {
  list-style: none;
}

.footer-list_style {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.footer-list_style .fa-utensils {
  margin-right: 17px;
}

.footer-list_style .fa-hands-helping {
  margin-right: 9px;
}

.footer-list_style .footer-list_contact {
  color: white;
  text-decoration: none;
}

.footer .footer-logo {
  width: 30%;
  margin-left: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media screen and (min-width: 768px) {
  .logo .fa-arrow-left {
    font-size: 35px;
    top: 2%;
  }
  .only-picture {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .margin-body {
    background-color: #f7f7f7;
  }
  .logo .fa-arrow-left {
    font-size: 40px;
    top: 1%;
  }
  .logo .main-logo {
    width: 20%;
  }
  .only-picture {
    height: 700px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .menu {
    top: -50px;
    margin: auto;
  }
  .menu .menu-title {
    font-size: 45px;
  }
  .menu .menu-title .fa-heart {
    font-size: 45px;
  }
  .menu-section_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-section_form .menu-block {
    width: 31%;
  }
  .btn {
    margin-top: 9%;
    margin-bottom: 9%;
  }
}
/*# sourceMappingURL=styles2.css.map */