@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");
.margin-body {
  margin: 0px;
}

.load-spinner {
  border: 10px solid #f7f7f7;
  border-top: 10px solid #ff79da;
  border-bottom: 10px solid #99e2d0;
  border-left: 10px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.logo {
  margin-top: 20px;
  margin-bottom: 2px;
  padding-bottom: 15px;
  padding-top: 22px;
  margin-top: 0px;
  -webkit-box-shadow: 0px 2px 4px lightgrey;
          box-shadow: 0px 2px 4px lightgrey;
}

.logo .main-logo {
  width: 60%;
  display: block;
  margin: auto;
}

.location {
  display: block;
  text-align: center;
  background-color: #ededed;
  font-family: "Roboto", sans-serif;
}

.location .fa-map-marker-alt {
  padding: 18px;
}

.presentation {
  display: block;
  text-align: center;
  margin-bottom: 35px;
  background-color: #f7f7f7;
  padding: 26px 35px 50px;
}

.presentation-btn {
  padding: 19px;
  font-size: 17px;
  border-radius: 28px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
}

.presentation-title {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
}

.presentation .presentation-title2 {
  font-size: 18px;
  font-family: "Roboto2", sans-serif;
  color: grey;
}

.navigateur {
  max-width: 1024px;
  margin: auto;
}

.second-title {
  margin-bottom: 30px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
}

.navi {
  display: block;
  text-align: center;
}

.navi .navi-form {
  background-color: #f7f7f7;
  margin-bottom: 14px;
  padding: 17px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 8px lightgrey;
          box-shadow: 2px 2px 8px lightgrey;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin-right: 16px;
}

.navi .navi-form_number {
  position: absolute;
  left: 8%;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  font-size: 13px;
}

.navi .navi-form .fa-mobile-alt {
  margin-left: -10%;
  margin-right: 10%;
  font-size: 21px;
  color: grey;
}

.navi .navi-form .fa-list-ul {
  margin-left: -10%;
  margin-right: 10%;
  font-size: 21px;
  color: grey;
}

.navi .navi-form .fa-store {
  margin-left: -10%;
  margin-right: 10%;
  font-size: 21px;
  color: grey;
}

.restaurant {
  background-color: #ededed;
  margin-top: 65px;
  padding-bottom: 29px;
  max-width: 1024px;
  margin: auto;
}

.restaurant .restaurant-title {
  padding-top: 50px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
}

.restaurant-block {
  background-color: white;
  margin-bottom: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px lightgrey;
          box-shadow: 2px 2px 8px lightgrey;
  width: 91%;
  margin-left: 17px;
  padding-bottom: 15px;
}

.restaurant-block_link {
  color: black;
  text-decoration: none;
}

.restaurant-block_news {
  position: absolute;
  right: 9%;
  margin-top: 13px;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #249c7f;
}

.restaurant-block_main {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}

.restaurant-block_main .fa-heart {
  margin-right: 30px;
  font-size: 29px;
}

.restaurant-block_title {
  margin-left: 20px;
  font-family: "Roboto2", sans-serif;
}

.restaurant-block .restaurant-pictures {
  width: 100%;
  height: 170px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer {
  background-color: #353535;
  color: white;
  padding-top: 31px;
  padding-bottom: 48px;
}

.footer-list {
  list-style: none;
}

.footer-list_style {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.footer-list_style .fa-utensils {
  margin-right: 17px;
}

.footer-list_style .fa-hands-helping {
  margin-right: 9px;
}

.footer-list_style .footer-list_contact {
  color: white;
  text-decoration: none;
}

.footer .footer-logo {
  width: 30%;
  margin-left: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

@media screen and (min-width: 768px) {
  .restaurant-allblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant-allblock .restaurant-block {
    width: 47%;
  }
  .restaurant-allblock .restaurant-block_news {
    margin-left: 36%;
    right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .logo .main-logo {
    width: 20%;
    margin-left: 20px;
  }
  .navi-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navi .navi-form {
    width: 100%;
    margin-right: 47px;
  }
  .navi .navi-form_number {
    font-size: 18px;
    left: auto;
    margin-left: -62px;
    height: 23px;
    width: 23px;
  }
  .restaurant {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .restaurant .restaurant-block {
    margin-left: 21px;
  }
  .restaurant .restaurant-block .restaurant-block_news {
    margin-left: 393px;
  }
  .footer .footer-logo {
    width: 20%;
  }
}
/*# sourceMappingURL=styles.css.map */