$color-pruple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-light-grey: #f7f7f7;
$color-dark-grey: #ededed;
$color-dark: #353535;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

.margin-body {
	margin: 0px;
}

.logo {
	margin-top: 20px;
	margin-bottom: 2px;
	padding-bottom: 15px;
	padding-top: 22px;
	margin-top: 0px;

	.fa-arrow-left {
		font-size: 30px;
		position: absolute;
		left: 4%;
		top: 1%;
		color: black;
	}

	.main-logo {
		width: 52%;
		display: block;
		margin: auto;
	}
}

.menu-photo {
	max-width: 1024px;
	margin: auto;
}

.only-picture {
	width: 100%;
	height: 280px;
}

.menu {
	background-color: $color-light-grey;
	padding-top: 20px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	position: relative;
	top: -59px;
	margin-bottom: -60px;
	max-width: 1024px;

	&-title {
		font-family: "Shrikhand", cursive;
		font-size: 27px;
		margin-left: 22px;
		margin-right: 36px;
		display: flex;
		justify-content: space-between;

		.far.fa-heart {
			font-size: 24px;
			position: absolute;
			right: 8%;
			opacity: 1;
			&:hover {
				opacity: 0;
				transition: 0.5s;
			}
		}

		.fas.fa-heart {
			font-size: 24px;
			position: absolute;
			right: 8%;
			display: block;
			background: -webkit-linear-gradient($color-pink, $color-pruple);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			opacity: 0;
			&:hover {
				opacity: 1;
				transition: 0.5s;
			}
		}
	}

	&-section {
		font-family: "Roboto2", sans-serif;
		margin-left: 22px;
		font-size: 17px;
		border-bottom-style: solid;
		width: 12%;
		border-bottom-color: $color-green;
		padding-bottom: 4px;
	}

	.checkbox {
		position: absolute;
		width: 33px;
		background: #99e2d0;
		border-radius: 0 15px 15px 0;
		right: 0px;
		top: 0%;
		padding: 0 13px;
		height: 100%;
		display: flex;
		align-items: center;

		.fa-check-circle {
			color: white;
			font-size: 30px;
		}
	}

	.menu-anim1 {
		animation-fill-mode: forwards;
		opacity: 0;
		-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		@-webkit-keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 1;
			}
		}
		@keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
				opacity: 1;
			}
		}
	}

	.menu-anim2 {
		animation-fill-mode: forwards;
		opacity: 0;
		-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation-delay: 0.3s;
		@-webkit-keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 1;
			}
		}
		@keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
				opacity: 1;
			}
		}
	}

	.menu-anim3 {
		animation-fill-mode: forwards;
		opacity: 0;
		-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation-delay: 0.5s;
		@-webkit-keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 1;
			}
		}
		@keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
				opacity: 1;
			}
		}
	}

	.menu-anim4 {
		animation-fill-mode: forwards;
		opacity: 0;
		-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation-delay: 0.7s;
		@-webkit-keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-5px);
				transform: translateY(-5px);
				opacity: 1;
			}
		}
		@keyframes slide-top {
			0% {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				opacity: 0;
			}
			100% {
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
				opacity: 1;
			}
		}
	}

	&-block {
		border-radius: 15px;
		box-shadow: 2px 2px 30px lightgrey;
		margin-left: 15px;
		margin-right: 15px;
		&:hover {
			opacity: 0.7;
			box-shadow: 2px 2px 8px grey;
			.checkbox {
				-webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				@-webkit-keyframes slide-left {
					0% {
						-webkit-transform: translateX(70px);
						transform: translateX(70px);
					}
					100% {
						-webkit-transform: translateX(0px);
						transform: translateX(0px);
					}
				}
				@keyframes slide-left {
					0% {
						-webkit-transform: translateX(70px);
						transform: translateX(70px);
					}
					100% {
						-webkit-transform: translateX(0px);
						transform: translateX(0px);
					}
				}
			}
			.fa-check-circle {
				-webkit-animation: rotate-center 0.6s ease-in-out both;
				animation: rotate-center 0.6s ease-in-out both;
				@-webkit-keyframes rotate-center {
					0% {
						-webkit-transform: rotate(0);
						transform: rotate(0);
					}
					100% {
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}
				@keyframes rotate-center {
					0% {
						-webkit-transform: rotate(0);
						transform: rotate(0);
					}
					100% {
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}
			}
			.title-bold {
				-webkit-animation: slide-title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: slide-title 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				@-webkit-keyframes slide-title {
					0% {
						-webkit-transform: translateX(0);
						transform: translateX(0);
					}
					100% {
						-webkit-transform: translateX(-50px);
						transform: translateX(-50px);
					}
				}
				@keyframes slide-title {
					0% {
						-webkit-transform: translateX(0);
						transform: translateX(0);
					}
					100% {
						-webkit-transform: translateX(-50px);
						transform: translateX(-50px);
					}
				}
			}
		}

		&_title {
			font-size: 18px;
			padding-top: 13px;
			margin-left: 12px;
			font-family: "Roboto", sans-serif;
		}

		&_title2 {
			margin-left: 12px;
			margin-right: 25px;
			font-size: 15px;
			padding-bottom: 14px;
			font-family: "Roboto2", sans-serif;
			margin-top: -12px;
			display: flex;
			justify-content: space-between;

			.title-bold {
				font-family: "Roboto", sans-serif;
			}
		}
	}
}

.btn {
	padding: 14px;
	font-size: 16px;
	border-radius: 28px;
	border: none;
	background: linear-gradient($color-pink, $color-pruple);
	color: white;
	width: 44%;
	margin-top: 28px;
	margin-left: 28%;
	margin-bottom: 20%;
	box-shadow: 2px 2px 30px lightgrey;
	&:hover {
		opacity: 0.8;
		box-shadow: 2px 2px 8px grey;
	}
}

.footer {
	background-color: $color-dark;
	color: white;
	padding-top: 31px;
	padding-bottom: 48px;

	&-list {
		list-style: none;

		&_style {
			margin-bottom: 10px;
			font-family: "Roboto", sans-serif;

			.fa-utensils {
				margin-right: 17px;
			}

			.fa-hands-helping {
				margin-right: 9px;
			}
			.footer-list_contact {
				color: white;
				text-decoration: none;
			}
		}
	}

	.footer-logo {
		width: 30%;
		margin-left: 20px;
		filter: invert(1);
	}
}
@media screen and (min-width: 768px) {
	.logo {
		.fa-arrow-left {
			font-size: 35px;
			top: 2%;
		}
	}
	.only-picture {
		height: 500px;
	}
}
@media screen and (min-width: 1024px) {
	.margin-body {
		background-color: #f7f7f7;
	}

	.logo {
		.fa-arrow-left {
			font-size: 40px;
			top: 1%;
		}
		.main-logo {
			width: 20%;
		}
	}

	.only-picture {
		height: 700px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}

	.menu {
		top: -50px;
		margin: auto;

		.menu-title {
			font-size: 45px;

			.fa-heart {
				font-size: 45px;
			}
		}
	}

	.menu-section_form {
		display: flex;

		.menu-block {
			width: 31%;
		}
	}

	.btn {
		margin-top: 9%;
		margin-bottom: 9%;
	}
}
