$color-pruple: #9356dc;
$color-pink: #ff79da;
$color-green: #99e2d0;
$color-light-grey: #f7f7f7;
$color-dark-grey: #ededed;
$color-dark: #353535;

.logo {
	margin-bottom: 20px;
}

.main-logo {
	width: 60%;
	display: block;
	margin: auto;
}

.location {
	display: block;
	text-align: center;
	background-color: $color-dark-grey;
	padding: 17px;
}

.presentation {
	display: block;
	text-align: center;
	margin-bottom: 35px;
	background-color: $color-light-grey;
}

.nav {
	display: block;
	text-align: center;
}

.nav-form {
	background-color: $color-light-grey;
	margin-bottom: 14px;
}

.restaurant {
	background-color: $color-dark-grey;
}

.restaurant-pictures {
	width: 100%;
	margin: auto;
	object-fit: cover;
}
.footer {
	background-color: $color-dark;
	color: white;
}
.footer-logo {
	width: 30%;
}
